<h1>
  <% if params[:tag] %>
    <%= params[:tag] %>
  <% else %>
    <%= "All Posts" %>
  <% end %>
</h1>

<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<table>

<% @posts.each do |post| %>
  <tr>
    <td>
      <%= render post %>
    </td>
  </tr>
<% end %>

</table>
