[user]
	email = kellyjosephprice@gmail.com
	name = Kelly Joseph Price
[push]
	default = current
[core]
	pager = less -F -X
  hooksPath = ~/.config/git/hooks'
[alias]
  clean-branches = !git branch | rg -v ' (master|next)$' | grep -v '*' | xargs git branch -D
[rerere]
	enabled = true
[diff]
	tool = vimdiff
[help]
	autocorrect = 1
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[merge]
	tool = vimdiff
	conflictstyle = diff3
[credential]
	helper = store
[url "git@github.com:"]
  insteadOf = https://github.com/
