[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
  url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
	url = git@github.com:kellyjosephprice/tmux-themepack.git
