[user]
	email = kelly@readme.com
	name = Kelly Joseph Price
[push]
	default = current
[core]
	pager = less -F -X
  hooksPath = ~/.config/git/hooks'
[alias]
  clean-branches = !git branch | rg -v ' (master|next)$' | grep -v '*' | xargs git branch -D
[rerere]
	enabled = true
[diff]
	tool = vimdiff
